.main-content {
    padding: 20px;
    border: 1px dashed #aaa;
    border-radius: 8px;
    background-color: #fafafa;
    margin-bottom: 20px;
    flex: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

#main-content-area-dynamic {
    height: 100%;
    overflow-y: auto;
}