import { makeStyles } from '@mui/styles';

const useStyles = makeStyles((theme) => ({
  mainContent: {
    padding: theme.spacing(2.5),
    border: `1px dashed ${theme.palette.grey[400]}`,
    borderRadius: theme.shape.borderRadius,
    backgroundColor: theme.palette.background.paper,
    marginBottom: theme.spacing(2.5),
    flex: 1,
    minHeight: 200,
    maxHeight: 300,
    maxWidth: 700,
    display: 'flex',
    flexDirection: 'column',
    marginLeft: 'auto',
    marginRight: 'auto',
    overflow: 'hidden',
  },
  mainContentAreaDynamic: {
    height: '100%',
    overflowY: 'hidden',
    position: 'relative',
  },
}));

export default useStyles;