.column {
    height: 100%;
    overflow-y: auto;
}

.column-paper {
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.world-map-wrapper {
    flex: 1;
    overflow: hidden;
    margin-top: 20px; /* Add spacing between Battle and WorldMap */
}

#middle-column {
    flex: 2; /* Makes middle column take up more space */
}

.main-content-container {
    margin: 16px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.battle-module {
    margin-top: 16px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

