.column {
    height: 100%;
    overflow-y: auto;
}

.column-paper {
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#right-column {
    flex: 1;
}

.faction-info {
  margin-bottom: 16px;
}

.player-traits {
  margin-top: 16px;
}