.column {
    height: 100%;
    overflow-y: auto;
}

.column-paper {
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.player-stats-container {
  margin-top: 16px;
}

#left-column {
    flex: 1;
}